@font-face {
  font-family: "Gellix";
  src: local("Gellix"), url("./fonts/Gellix-Regular.woff2"),
    url("./fonts/Gellix-Regular.woff"), url("./fonts/Gellix-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Gellix";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LAYOUT */

.lt-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-glyph {
  font-feature-settings: "ss02", "ss09", "ss04", "ss11", "ss12", "ss13";
}
